@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark: #2c2c2c;
  --color-smooth-white: #e0e0e0;
}

[data-theme="light"] {
  --bg-color: var(--color-white);
  --text-color: var(--color-black);
  --button-color: var(--color-dark);
  --button-text: var(--color-white);
  --button-disabled-color: #404040;
  --button-disabled-text: #a0a0a0;
  --second-title: #5f6368;
  --accordion-border: #dadce0;
  --hover-color: #dadce0;
}

[data-theme="dark"] {
  --bg-color: #0b0b0c;
  --text-color: var(--color-smooth-white);
  --button-color: var(--color-smooth-white);
  --button-text: var(--color-black);
  --button-disabled-color: #1e1e1e;
  --button-disabled-text: #757575;
  --second-title: #bdc1c6;
  --accordion-border: #282828;
  --hover-color: #d3d3d317;
}

#root,
html,
body {
  font-family: "Arimo", sans-serif;
  width: 100%;
  height: 100%;
  font-size: 16px;
  background: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}
