.formInfoSkeleton {
  width: 340px;
  height: 115px;
  border: 1px solid var(--accordion-border);
  border-top: 10px solid var(--accordion-border);
  border-radius: 8px;
  background-color: transparent;
  padding: 16px 8px 14px 16px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    box-shadow: 0 0 80px 20px var(--bg-color);
    animation: skeletonSlide 0.6s infinite ease-in-out;
  }
}

.formNameSkeleton {
  width: 250px;
  height: 10px;
  background-color: #a2a2a274;
  border-radius: 50px;
  margin-bottom: 14px;
}

.formDescSkeleton {
  width: 100px;
  height: 10px;
  background-color: #a2a2a274;
  border-radius: 50px;
  margin-bottom: 30px;
}

.formCreateDateSkeleton {
  width: 300px;
  height: 10px;
  background-color: #a2a2a274;
  border-radius: 50px;
}

@keyframes skeletonSlide {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}
