.profileHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.createBtn {
  font-size: 14px;
  padding: 15px 20px;
}

.sortedButtons {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

@media (max-width: 900px) {
  .profileHeader {
    flex-direction: column;
    align-items: stretch;
  }

  .sortedButtons {
    width: 100%;
    justify-content: space-between;
  }

  .createBtn {
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .sortedButtons {
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}
