.userProfile {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.createSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.myForms {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  place-items: center;
}
