.customButton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 25px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 8px;
  transition: 0.3s;

  &.primary {
    background-color: var(--button-color);
    color: var(--button-text);
    border: 1px solid #424242;
  }

  &.outline {
    background-color: transparent;
    border: 1px solid #616161;
    color: var(--text-color);
  }

  &.danger {
    background-color: transparent;
    border: 1px solid #dc3545;
    color: #dc3545;
  }

  &:disabled {
    background-color: var(--button-disabled-color);
    color: var(--button-disabled-text);
    border: none;
    cursor: not-allowed;
  }

  &:hover:enabled {
    filter: brightness(125%);
  }
}
