.inputContainer {
  width: 100%;
}

.input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  transition: 0.3s;

  &.error {
    border: 1px solid #dc3545;
  }
}

.errorMessage {
  font-size: 14px;
  color: #dc3545;
  margin-top: 6px;
}

input[type="radio"] {
  appearance: none;
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--input-border);
  border-radius: 50%;

  &:checked {
    position: relative;
  }

  &:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    background: var(--button-color);
    border-radius: 50%;
  }
}

input[type="checkbox"] {
  appearance: none;
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--bg-color);
  border: 1px solid var(--input-border);
  cursor: pointer;
  position: relative;
  transition: 0.3s;

  &:checked {
    background-color: var(--button-color);
  }

  &:checked::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%) rotate(45deg);
    width: 4px;
    height: 8px;
    border: solid var(--bg-color);
    border-width: 0 2px 2px 0;
  }
}
