.optionCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.optionCardText {
  width: 100%;
  display: block;
}

.optionField {
  display: flex;
}

.optionTitle {
  font-size: 14px;
  line-height: 1.6;
  word-break: break-word;
  text-wrap: balance;
  overflow-wrap: break-word;
}

.optionInfo {
  max-width: 850px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.optionInfoText {
  width: 100%;
  display: block;
}

.optionInput {
  font-size: 14px;
}

.deleteOptionBtn {
  padding: 5px;
}
