.editFormPage {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px 32px;
}

.notFoundMessage {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

@media (max-width: 900px) {
  .editFormPage {
    padding: 12px 12px 24px;
  }

  .notFoundMessage {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .editFormPage {
    padding: 10px 10px 20px;
  }

  .notFoundMessage {
    font-size: 18px;
  }
}
