.answersPage {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 16px 16px 32px;
}

.formName {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.userList {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.userCard {
  padding-bottom: 10px;
  width: 100%;
  max-width: 800px;
  border-bottom: 1px solid var(--input-border);
}

.link {
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userAvatar {
  width: 35px;
  height: 35px;

  .avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
}

.username {
  font-size: 14px;
  font-weight: 700;
}

.linkBtn {
  padding: 8px 20px;
}

@media (max-width: 900px) {
  .answersPage {
    padding: 12px 12px 24px;
    gap: 28px;
  }
}

@media (max-width: 600px) {
  .answersPage {
    padding: 10px 10px 20px;
    gap: 24px;
  }
}
