.formHeader {
width: 100%;
max-width: 1440px;
  border: 1px solid var(--input-border);
  border-top: 15px solid transparent;
  border-radius: 8px;
  padding: 16px 20px;
}

.formName {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 5px;
}

.formDescription {
  font-size: 18px;
  color: var(--second-title);
  margin-bottom: 10px;
}

.userCard {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  margin-bottom: 5px;
}

.text {
  margin-right: 4px;
}

.username {
  font-weight: 700;
}

.singOutBtn {
  padding: 5px 15px;
}

@media (max-width: 900px) {
  .formHeader {
    padding: 14px 16px;
  }

  .formName {
    font-size: 28px;
  }

  .formDescription {
    font-size: 16px;
  }

  .userCard {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .formHeader {
    padding: 12px;
  }

  .formName {
    font-size: 24px;
  }

  .formDescription {
    font-size: 14px;
  }
}
