.userProfile {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.myForms {
  display: flex;
  justify-content: center;
  align-items: center;
}
