.userProfile {
  width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}

.myForms {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  display: grid;
  grid-template-columns: repeat(4, minmax(340px, 1fr));
  place-items: center;
  gap: 20px;
}
