.formPage {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px 16px 32px;
}

@media (max-width: 900px) {
  .formPage {
    padding: 12px 12px 24px;
  }
}

@media (max-width: 600px) {
  .formPage {
    padding: 10px 10px 20px;
  }
}
