.notFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  min-height: 100vh;
  padding: 16px;
  text-align: center;
}

.text {
  font-size: 18px;
  font-weight: 700;
}

.title {
  font-size: 64px;
  font-weight: 700;
}

.paragraph {
  font-size: 24px;
}

@media (max-width: 900px) {
  .title {
    font-size: 48px;
  }

  .paragraph {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .notFoundPage {
    padding: 12px;
    gap: 12px;
  }

  .text {
    font-size: 16px;
  }

  .title {
    font-size: 36px;
  }

  .paragraph {
    font-size: 18px;
  }
}
