.copyModal {
  min-height: auto;
}

.urlInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonsGroup {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 15px;
}
